# Copy this file to .env and adjust the values accordingly
# Foreman uses a .env file to fill in environment variables, which is
# how this app's more important configurable settings are set.
PORT=3000
OMNIAUTH_PROVIDER_KEY= #Get one!
OMNIAUTH_PROVIDER_SECRET= #This too!