<h2>Skills On Deck<h2>
<% @skills.each do |skill| %>
  <%= skill_badge(skill, current_user.domain) %>
<% end %>

<h2>Staff On Deck</h2>
<%= magic_grid(@users,
               [
                :name,
                {col: :status, to_s: ->(u) { status_badge(u) } },
                :skills_list
               ],
               class: 'table') %>
